*.ipynb_checkpoints*
*__pycache__*
*base_api_key.txt*
*data/validation_data*
*data/20240122*
*data/environment*
*data/genomes*
*data/inds*
*data/processed_structures*
*data/test_structures*
*data/rosetta_inputs.txt*
*data/tmp*
*data/outputs/*
*data/ogt/*
*data/pdb*
*data/*.sh
*data/rosetta_out/*
*data/fold*
*data/adks/*
*data/PF05191/*
*data/clustering/*

# IPython
profile_default/
ipython_config.py
